*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#060606;

color:white;

font-family:sans-serif;

}

.nav{

display:flex;

justify-content:space-between;

padding:20px;

}

.hero{

padding:100px;

}

.card{

margin:30px;

padding:30px;

background:#111;

border-radius:18px;

}

button{

background:#00cc66;

border:none;

padding:14px;

cursor:pointer;

}
